@model MyLib.Zadacha

@{
    ViewData["Title"] = "Подробности задачи";
}

<h1>Подробности задачи</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Complete" asp-route-id="@Model.Id">Пометить @(Model.IsComplete ? "не" : "")выполненной</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Удалить</a> |
    <a asp-action="Index">Назад в список</a>
</div>
